.movie-grid {
    display: grid;
    gap: 1rem;
    justify-self: center;
    margin: 1rem;
}

#pre-chris-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 45%;
}

#post-chris-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 60%;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
}

.film-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--ddsprple);
    color: var(--whte);
    justify-content: center;
}

.card-poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 150/225;
}

.card-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0 0 0;
    height: auto;
}

.date {
    font-weight: bold;
}

.choice-of {
    border-radius: 10px;
    padding: 8px 16px;
    border: 4px solid var(--blck);
    box-shadow: 0 6px 0 var(--blck);
    font-weight: bold;
}

.jacob {
    background-color: var(--jacob);
    color: var(--blck);
}

.sam {
    background-color: var(--sam);
    color: var(--blck);
}

.brian {
    background-color: var(--brian);
    color: var(--blck);
}

.chris {
    background-color: var(--chris);
    color: var(--whte);
}

.statistics-container {
    background-color: lightblue;
}