.movie-grid {
    display: grid;
    gap: 1.5rem;
    justify-self: center;
    max-width: 100%;
    margin: 2rem;
}

@media screen and (max-width: 500px) {
    #pre-chris-grid {grid-template-columns: repeat(1, minmax(0, 1fr));}
    #post-chris-grid {grid-template-columns: repeat(1, minmax(0, 1fr));}
}

@media screen and (min-width: 501px) and (max-width: 1224px) {
    #pre-chris-grid {grid-template-columns: repeat(2, minmax(0, 1fr));}
    #post-chris-grid {grid-template-columns: repeat(2, minmax(0, 1fr));}
}

@media screen and (max-width: 699px) {
    .bios-container {grid-template-areas:
        "jacob sam"
        "brian chris";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);}
    .bio-section {max-width: 50vw;}
    h3 {font-size: 6vw;}
    h4 {font-size: 3.5vw;}
    .bios-container p {font-size: 7.5vw;padding-bottom:0;}
    .bios-container .five {font-size: 2.5vw;}
    #stats-title {font-size: 4vw;}
}

@media screen and (min-width: 700px) {
    .bios-container {grid-template-areas:
        "jacob sam brian chris";
    grid-template-columns: 1fr 1fr 1fr 1fr;}
    .bio-section {max-width: 25vw;}
    h3 {font-size: 2vw;}
    h4 {font-size: 1.25vw;}
    .bios-container p {font-size: 4vw;}
    .bios-container .five {font-size: 2vw;}
    #stats-title {font-size: 1.75vw;}
}

@media screen and (max-width: 1224px) {
    .header-desktop-txt {display: none;}
    .header-mobile-txt {display: flex;}
}

@media screen and (min-width: 700px) and (max-width: 1224px) {
    #post-chris-grid, #pre-chris-grid {margin: 0 12%;}
}

@media screen and (min-width: 1225px) {
    #pre-chris-grid {grid-template-columns: repeat(3, 1fr);}
    #post-chris-grid {grid-template-columns: repeat(4, 1fr);}
    #post-chris-grid {margin: 0 9%;}
    #pre-chris-grid {margin: 0 17.5%;}
    .header-desktop-txt {display: flex;}
    .header-mobile-txt {display: none;}
    #statistics {margin: 0 6%;}
}

section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-size: 4vw;
    text-align: center;
    margin: calc(4*var(--std-gap)) 0 calc(2*var(--std-gap)) 0;
    width: 100%;
    font-family: "Chango";
}

a:has(.film-card) {
    display: flex;
}

.film-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--ddsprple);
    color: var(--whte);
    justify-content: center;
    width: auto;
    transition: 0.3s ease;
}

.film-card:hover {
    transform: translateY(-0.75rem);
    box-shadow: 0px 0px 12px var(--whte);
}

.card-poster {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 150/225;
}

.card-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0 0 0;
    height: auto;
}

.date {
    font-weight: bold;
    font-family: Arvo;
}

.choice-of {
    border-radius: 10px;
    padding: 8px 16px;
    border: 4px solid var(--blck);
    box-shadow: 0 6px 0 var(--blck);
    font-weight: bold;
}

.jacob {
    background-color: var(--jacob);
    color: var(--blck);
}

.sam {
    background-color: var(--sam);
    color: var(--blck);
}

.brian {
    background-color: var(--brian);
    color: var(--blck);
}

.chris {
    background-color: var(--chris);
    color: var(--blck);
}

.theater, .olivia, .new {
    background-color: var(--other);
    color: var(--whte);
}

.bios-container {
    width: 100%;
    margin: 0;
    display: grid;
    font-family: "Chango";

    .jacob {
        img {
            padding: 1rem;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    .sam {
        img {
            padding: 1rem;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    .brian {
        img {
            padding: 1rem;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    .chris {
        img {
            padding: 1rem;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 100%;
        }
    }

    h3 {
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
    }
}

#jacob-bio {
    grid-area: jacob;
}

#sam-bio {
    grid-area: sam;
}

#brian-bio {
    grid-area: brian;
}

#chris-bio {
    grid-area: chris;
}

#jacob-bio-stats, #sam-bio-stats, #brian-bio-stats, #chris-bio-stats {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .stats-text {
        width: 100%;
        height: 100%;
        text-align: center;
        backdrop-filter: blur(10px) brightness(75%);
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    h4 {
        text-align: center;
        font-family: Arvo, serif;
    }
    p {
        font-weight: bold;
        line-height: 1.5;
    }
    .five {
        text-align: center;
    }
    #stats-title {
        font-style: italic;
        font-family: Chango, sans-serif;
        padding:0.25rem 0;
    }
    div {
        height: auto;
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
}

.score {
    justify-content: center;
    align-items:baseline;
}

#statistics {
    margin-top: 4rem;
}

.bio-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bio-section:not(:has(#stats-title)) {
    margin: 1rem 0;
}

#high-choice, #low-choice {
    background-size:cover;
    background-position:center center;
    aspect-ratio: 2/3;
}

#high-choice p, #high-choice h4, #low-choice p, #low-choice h4 {
    text-shadow: 0 2px 4px var(--blck);
}

.graph-container {
    display: none;
    width: 100vw;
    min-height: 50vh;
    object-fit: cover;
    margin-top: 12rem;
    justify-content: center;
}

.graph-container iframe {
    border: none;
    height: 100% !important;
    width: auto;
    aspect-ratio: 600/371;
    display:flex;
}