* {
    margin: 0;
    padding: 0;
    clear: both;
    box-sizing: border-box;
}

:root {
    --blck: hsl(276, 10%, 4%);
    --whte: #fcfcfd;
    --darkbdbdmn: hsl(218, 55%, 20%);
    --bdbdmnblue: hsl(218, 77%, 32%);
    --bdbdmngradient: linear-gradient(to bottom, var(--bdbdmnblue), hsl(218, 77%, 32%, 75%));
    --ddsprple: hsl(270, 10%, 15%);
    --ldsprple: hsl(270, 64%, 75%);
    --bl: hsl(199, 82%, 61%);

    /* --jacob: #38FCC8;
    --sam: #F5F5DC;
    --brian: #F4CB2A;
    --chris: #1E286E; 
    --lchris: rgb(100, 115, 230);*/
    --jacob: hsl(0, 71%, 59%);
    --sam: hsl(31, 94%, 64%);
    --brian: hsl(45, 100%, 65%);
    --chris: hsl(101, 43%, 58%);
    --other: #b8b8b8;

    --std-gap: 1rem;

    --dblue: hsl(233, 57%, 17%);
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

@font-face {
    font-family: "Chango";
    src: url(Chango-Regular.ttf);
}

@font-face {
    font-family: "Arvo";
    src: url(Arvo-Regular.ttf);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    z-index: 50;
    background: var(--bdbdmngradient);
    backdrop-filter: blur(5px);
    color: var(--whte);
    font-weight: bold;
    font-size: 2em;
}

body {
    background-color: var(--blck);
    color: var(--whte);
}

a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: var(--bl);
    transition: 0.3s ease;
    font-size: min(6vw, 48px);
}

footer a:hover {
    color: var(--brian);
}

footer {
    margin-top: 2rem;
    background-color: var(--bdbdmnblue);
    color: var(--whte);
    font-size: min(3.5vw, 32px);
    padding: 2rem 0;
    text-align:center;
    font-weight: 800;
    font-family: Chango;
}